# Environment (все .env файлы)
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
dist-ssr/

# IDEs
.vscode/
.idea/
.DS_Store

# Docker
*.log
docker-compose.override.yml