# PostgreSQL
POSTGRES_USER=libris
POSTGRES_PASSWORD=libris_password
POSTGRES_DB=libris_db

# Database URL (внутри Docker)
DATABASE_URL=postgresql+asyncpg://libris:libris_password@postgres:5432/libris_db

# Redis
REDIS_URL=redis://redis:6379/0

# JWT Security
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

# Google Api Key
GOOGLE_BOOKS_API_KEY=google-books-api-key-here-change-in-production